asgiref==3.6.0
astroid==2.15.4
async-generator==1.10
Django==4.2
django-ckeditor==6.5.1
gunicorn==19.9.0
h11==0.14.0
idna==3.4
iniconfig==2.0.0
isort==5.12.0
lazy==1.5
lazy-object-proxy==1.9.0
Pillow==9.5.0
pipreqs==0.4.13
psycopg2==2.9.6
psycopg2-binary==2.9.6
pycparser==2.21
pylint==2.17.3
pylint-django==2.5.3
pylint-plugin-utils==0.7
pytz==2022.7
requests==2.28.1
reverse==0.1.0
sqlparse==0.4.4
tomlkit==0.11.8
trio==0.22.0
trio-websocket==0.10.2
tzdata==2023.3
urllib3==1.26.14
virtualenv==20.23.0
waitress==2.1.2
whitenoise==6.4.0

